.modal{
    display: block;
    position: fixed;
    background-color: white;
    margin: auto;
    width: 40%;
    height: 70%;
    padding: 60px 30px 30px 30px;
    border-radius: 10px;
    opacity: 1;
    animation: slide-down .3s ease;
    button{
        width: unset!important;
    }
    .input-group-text{
        background-color: #30466b;
        color: white;
    }
    .closeModal{
        background-color: red;
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        top: 15px;
        right: 15px;
        display: flex;
        span{
            align-self: center;
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: white;
        }
    }
    .btn{
        background-color: #30466b;
        color: white;
        transition: all .2s;
        &:hover{
            transition: all .2s;
        }
    }
}