.document{
    padding-top: 50px;
    position: relative;
    background-color: rgb(241,241,241);
    height: 100vh;
    max-width: 1000px;
    textarea{
        position: absolute;
        z-index: -1;
        
    }
    white-space: pre-line;
    .addNewArea{
        position: absolute;
        left: 50%;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:green;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:2em;
        font-weight: bold;
        color: white;
    }
    .forceSave{
        position: absolute;
        left: 60%;
        width: 100px;
        height: 50px;
        border-radius: 25px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: white
    }
}