.ql-align-center{
    text-align: center
}
.area{
    padding: 0 1em;
    transition: all .3s;
    position: relative;
    min-height: 25px;
    &:hover{
        .menuItem{
            opacity: 1
        }
    }
    p{
        margin-bottom: 0!important;
    }
    blockquote{
        margin-bottom: 0!important;
    }
    img{
        max-width: 100%;
    }
    .menuItem{
        opacity: 0;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        display: flex;
        z-index: 100;
        filter: grayscale(.6);
        transition: all .3s;
        cursor: pointer;
        &:hover{
            filter: grayscale(0)
        }
        &.positive{
            background-color: rgb(221, 184, 16);
            &.clicked{
                background-color: rgb(95, 223, 95);
            }

        }
        &.negative{
            background-color: rgb(134, 38, 38);
        }
        &:after{
            position: absolute;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            pointer-events: none;
        }
    }
    .delete{
        right: 0;
        &:after{
            content: '\f00d';
        }
    }
    .edit{
        right: 20px;
        &:after{
            content: '\f044'
        }
    }
    .moveUp{
        right: 40px;
        &:after{
            content: '\f062'
        }
    }
    .moveDown{
        right: 20px;
        &:after{
            content: '\f063'
        }
    }
    &.active{
        padding: 2em 1em;
        .text{
            &:after{
                content: 'I';
                font-weight: bold;
                display: inline;
                animation: 1s blink infinite
            }
        }
    }
}

@keyframes blink{
    from,to{
        color: transparent;
    }
    50%{
        color:black
    }
}