.modal{
    max-width: 500px;
    width: 80%;
    min-height: 200px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    display: block;
    padding: 2em;
    border-radius: 1em;
    .btn{
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
    }
    input{
        width: 100%;
        border-radius: 1em;
        outline: none;
        border: 2px solid rgb(185, 185, 185);
        padding: .5em;
    }
}